@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// variables
$clr-black: #000;
$clr-white: #fff;
$font-raleway: 'Raleway', sans-serif;
$clr-orange: #E16120;
$clr-dark-orange: #C5541A;
$clr-green: #3A9691;
$clr-gray: #707070;
$clr-dark-gray: #434343;
$clr-dark: #232323;
$clr-whitesmoke: #f5f5f5;
$transition: all 300ms ease-in-out;

// global styles & resets
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  font-size: 10px;
}

body{
  -webkit-font-smoothing: antialiased;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $clr-black;
  font-family: $font-raleway;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: unset;
}
img{
  width: 100%;
  display: block;
}
.img-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button{
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.8rem;
}
input, textarea, select{
  outline: 0;
  border: none;
  resize: none;
  font-family: inherit;
  font-size: 1.6rem;
}

/* custom utility classes */
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* flexbox and grid */
.flex{
  display: flex;
  &-column{ flex-direction: column;}
  &-wrap{flex-wrap: wrap;}
}
.align{
  &-center{align-items: center;}
  &-start{align-items: flex-start;}
  &-end{align-items: flex-end;}
  &-stretch{align-items: stretch;}
}
.justify{
  &-center{justify-content: center;}
  &-between{ justify-content: space-between;}
  &-start{ justify-content: flex-start;}
  &-end{ justify-content: flex-end;}
}
.grid{ display: grid; }

/* height and width */
.h-100{height: 100%;}
.w-100{width: 100%;}

/* text align, transformation & colors */
.text{
  &-center{text-align: center;}
  &-start{text-align: left;}
  &-end{text-align: right;}
  &-justify{text-align: justify;}
  &-uppercase{text-transform: uppercase;}
  &-capitalize{text-transform: capitalize;}
  &-white{color: $clr-white;}
  &-black{color: $clr-black;}
  &-orange{color: $clr-orange;}
  &-green{color: $clr-green;}
  &-gray{color: $clr-gray;}
  &-dark-gray{color: $clr-dark-gray;}
  &-dark{color: $clr-dark;}
  &-whitesmoke{color: $clr-whitesmoke;}
}